.header {
    background-color: $green;
    display: flex;
    font-family: 'avenir-bold';
    font-size: $font-lg;
    height: 70px;
    justify-content: center;

    .header__link {
        margin-top: 35px;
        
        a {
            color: $white;
            text-decoration: none;
        }
    }

    .header__map {
        position: absolute;
        top: 30px;
        right: 10px;

        img {
            width: 33px;
            height: auto;
        }
    }
}