.header {
    background-color: $green;
    display: flex;
    font-family: 'avenir-bold';
    font-size: $font-lg;
    height: $space-lg;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .header__link {
        margin-top: $space-md;
        
        a {
            color: $white;
        }

        h1 {
            margin: 0;
            font-size: inherit;
        }
    }

    .header__back {
        position: absolute;
        top: 33px;
        left: 13px;

        img {
            height: 25px;
            width: auto;
        }
    }

    .header__map {
        position: absolute;
        top: 30px;
        right: 10px;

        img {
            height: auto;
            width: 33px;
        }
    }
}