.restaurant-item {
    position: relative;

    a {
        color: $white;
        
        .restaurant-item__info {
            position: absolute;
            bottom: 0;
            z-index: 3;
            padding: 0 $space-sm $space-sm $space-sm;

            .restaurant-item__category {
                font-family: 'avenir';
                margin: 0;
                font-weight: 200;
            }
        }

        .restaurant-item__img {
    
            height: $space-xl;
            width: 100%;
            overflow: hidden;
            position: relative;
        
            &::before {
                background: url('/dist/icons/cellGradientBackground@2x.png');
                background-attachment: scroll;
                background-repeat: repeat-x;
                background-size: auto auto;
                background-position: 50% 75%;
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 1;
            }
        
            img {        
                width: 100%;
                position: absolute;  
                top: 0;  
                bottom: 0;  
                left: 0;  
                right: 0;  
                margin: auto;
            }
        }
    }
}


// http://via.placeholder.com/350x150