.restaurant-detail {
    width: 100%;
    position: fixed;
    top: $space-lg;
    right: 0;
    max-height: calc(100% - #{$space-lg});
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    .restaurant-detail__map {
        content: '';
        height: $space-xl;
        width: 100%;
        background: gray;

        @media (min-width: $bp-md-start) and (max-width: $bp-md-end) {
            height: 250px;
        }

        @media (min-width: $bp-lg-start) {
            height: double_value($space-xl);
        }
    }

    .restaurant-detail__header {
        background: $dark-green;
        color: $white;
        height: 60px;
        padding: 4px $space-sm;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .restaurant-detail__info {
        padding: 0 $space-sm $space-sm $space-sm;

        a {
            color: $black;
        }

        .restaurant-detail__address {
            margin-top: 16px;
        }

        .restaurant-detail__phone, .restaurant-detail__twitter {
            margin-top: 26px;
        }
    }
}