@font-face {
    font-family: 'avenir';
    src: url('/dist/fonts/avenir-next-regular.otf') format("opentype");
}

@font-face {
    font-family: 'avenir-bold';
    src: url('/dist/fonts/avenir-next-demi-bold.otf') format("opentype");
}

body {
    font-family: 'avenir', sans-serif;
    margin: 0;
}

.full-page {
    overflow: hidden;
}

.page-content {
    // margin-top: $space-lg;
}

h2 {
    margin: 0;
    font-size: $font-md;
}

a {
    text-decoration: none;
}

.full-page {
    position: relative;
    margin-top: $space-lg;
}

.hidden-mobile {
    display: none;

    @media (min-width: $bp-md-start) {
        display: block;
    }
}

.slide {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transform: translateX(0px);
    background: white;
    z-index: 4;

    @media (min-width: $bp-md-start) and (max-width: $bp-md-end) {
        width: 50%;
    }

    @media (min-width: $bp-lg-start){
        width: 65%;
    }
}

.slide-enter {
    transform: translateX(100%);
    z-index: 5;
}

.slide-enter.slide-enter-active {
    transform: translateX(0px);
    transition: all 250ms ease-in-out;
}

.slide-exit {
    transform: translateX(0);
    
    @media (min-width: $bp-md-start) {
        opacity: 1;
    }
}

.slide-exit.slide-exit-active {
    transform: translateX(100%);
    transition: all 250ms ease-in-out;
    
    @media (min-width: $bp-md-start) {
        opacity: .01;
        transform: translateX(0);
    }
}