@font-face {
    font-family: 'avenir';
    src: url('/dist/fonts/avenir-next-regular.otf') format("opentype");
}

@font-face {
    font-family: 'avenir-bold';
    src: url('/dist/fonts/avenir-next-demi-bold.otf') format("opentype");
}

body {
    font-family: 'avenir', sans-serif;
    margin: 0;
}

.page-content {
    margin-top: $space-lg;
}

h2 {
    margin: 0;
    font-size: $font-md;
}

a {
    text-decoration: none;
}