// Font sizes
$font-xl: 21px;
$font-lg: 17px;
$font-md: 16px;
$font-sm: 12px;

// Colors
$green: #43e895;
$dark-green: #34b379;
$white: #fff;
$black: #2a2a2a;

// Spacing
$space-xl: 180px;
$space-lg: 70px;
$space-md: 35px;
$space-sm: 12px;
$space-xs: 6px;

// Breakpoints
$bp-md-start: 721px;
$bp-md-end: 1024px;
$bp-lg-start: 1025px;

// Functions
@function double_value($value) {
  @return $value + $value;
}