// Font sizes
$font-lg: 17px;
$font-md: 16px;
$font-sm: 12px;

// Colors
$green: #43e895;
$white: #fff;

// Spacing
$space-xl: 180px;
$space-lg: 70px;
$space-md: 35px;
$space-sm: 12px;
$space-xs: 6px;